@font-face {
	font-family: Roboto;
	src: url(http://www.fontsquirrel.com/fontfacekit/roboto);
}

html, body {
	height: 100%;
}

body {
	font-family: Roboto, serif;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.header {
	background: #1F2937;
	font-family: Roboto, serif;
}
