@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
	height: 100%;
}

body {
	font-family: Roboto, serif;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.header {
	background: #1F2937;
	font-family: Roboto, serif;
}
